@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
  font-family: "Montserrat";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
