.admin {
  &__nav {
    background-color: #1d2127;
    height: 100vh;
  }
}

.menu {
  list-style-type: none;
  padding: 0;

  &__item {
    border-bottom: 1px solid #1d2127;
  }
  &__link {
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    color: #76808f;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.07);
    }
  }
}
