.admin {
  &__nav {
    background-color: #1d2127;
    height: 100vh;
  }
}

.menu {
  list-style-type: none;
  padding: 0;

  &__item {
    border-bottom: 1px solid #1d2127;
  }
  &__link {
    cursor: pointer;
    display: block;
    padding: 1rem 2rem;
    color: #76808f;
    text-decoration: none;

    &:hover,
    &:focus {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.07);
    }
  }
}

// .admin__nav {
//   width: 50px;
//   transition: width 0.3s;
// }

// .admin__nav:hover {
//   width: 200px;
// }

// .menu__link--hover {
//   display: none;
// }

// .admin__nav:hover .menu__link--default {
//   display: none;
// }

// .admin__nav:hover .menu__link--hover {
//   display: contents;
// }
