#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: rgba(255, 255, 255, 0.07);
}

#customers thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1d2127;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

th:first-child, td:first-child {
  width: 10%;
}

th:nth-child(4), td:nth-child(4) {
  width: 10%;
}

th:nth-child(2), td:nth-child(4) {
  width: 25%;
}

th:nth-child(5), td:nth-child(4) {
  width: 2%;
}

.fontTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.alignDiv {
  justify-content: space-between;
}

button {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.2em 1.2em 0.2em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
 }

 button span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
 }

 button:hover {
  background-color: #0071e2;
 }

 .page {
  display: flex !important;
  justify-content: end;
 }
