#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers thead {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #1d2127;
  color: white;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  padding: 10px;
  background-color: #1d2127;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.position-button {
  text-align: end;
  margin-bottom: 10px;
}
