<!-- <div class="admin">
  <header class="admin__header">
    <a href="#" class="logo">
      <h1>Will Stock!</h1>
    </a>
    <div class="toolbar">
      <button class="btn btn--primary">Add New Plumbus</button>
      <a href="#" class="logout">
        Log Out
      </a>
    </div>
  </header>
  <nav class="admin__nav">
    <ul class="menu">
      <li class="menu__item">
        <a (click)="navigate('stock-list')" class="menu__link" routerLinkActive="active">Estoque</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" (click)="navigate('category')">Categorias</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" (click)="navigate('product-list')">Produtos</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" (click)="navigate('supplier')">Fornecedores</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" (click)="navigate('supplier')">Clientes</a>
      </li>
    </ul>
  </nav>
  <main class="admin__main">
    <h2>Dashboard</h2>
    <div class="dashboard">
      <div class="dashboard__item">
        <div class="card">
          <strong>41</strong> Foobars
        </div>
      </div>
      <div class="dashboard__item">
        <div class="card">
          <strong>81.712</strong> Doohickeys
        </div>
      </div>
      <div class="dashboard__item dashboard__item--full">
        <div class="card">
          <img src="https://imgs.xkcd.com/comics/decline.png" alt="" />
        </div>
      </div>
      <div class="dashboard__item dashboard__item--col">
        <div class="card">A</div>
      </div>
      <div class="dashboard__item dashboard__item--col">
        <div class="card">B</div>
      </div>
      <div class="dashboard__item dashboard__item--col">
        <div class="card">C</div>
      </div>
      <div class="dashboard__item dashboard__item--col">
        <div class="card">D</div>
      </div>
    </div>
    <p>read more about this in <a href="https://mxb.at/blog/css-grid-admin-dashboard/">this blogpost</a>.</p>
  </main>
  <footer class="admin__footer">
    <ul class="ticker">
      <li class="ticker__item">BTC: +3.12%</li>
      <li class="ticker__item">ETH: +1.29%</li>
      <li class="ticker__item">XRP: -0.32%</li>
      <li class="ticker__item">BCH: -2.82%</li>
      <li class="ticker__item">EOS: +1.44%</li>
      <li class="ticker__item">CSS: +13.37%</li>
    </ul>
    <span>
      &copy; 2018 Grid Inc.
    </span>
  </footer>
</div> -->
