@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  font-family: "Montserrat";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.icon-trash {
  background-image: url("./assets/icons/icon-trash.svg");
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
