body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

header h1 {
	margin: 0;
}

.test {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.grafico-container {
	height: 250px;
	background-color: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding: 10px;
	box-sizing: border-box;
	position: relative;
}

.barra {
	width: 20%;
	background-color: #007bff;
	border-radius: 5px;
	transition: height 0.5s;
}